# Sistema operacional
Thumbs.db
Desktop.ini
.DS_Store

# Editor / IDE
.vscode/
.idea/
*.swp

# Logs
*.log
npm-debug.log*

# Dependências (caso algum dia utilize)
node_modules/

# Ambiente local
.env
.env.local